<!-- START: THEME 7 -->
<table class="govuk-table govuk-!-font-size-16">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-5">
        7. Commercial systems, reporting and information
        <a href="/v2/assessments/themes/5?test=a" class="govuk-link govuk-!-margin-bottom-3 govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-margin-top-3" style="display: flex;">Go to Theme 7 overview</a>
    </caption>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="50%">Practice Area</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria completed</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Percentage complete (%)</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Status</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

    <!-- THEME 7 - PA #1 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/v2/assessments/themes/5/practice-areas/5-1?test=a" class="govuk-link">
                7.1 - Using commercial systems and tools
            </a>
        </td>
        <td class="govuk-table__cell">13</td>
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">100%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue"
                    style="background-color: #005a30;color: #fff;">
                COMPLETED
            </strong>
        </td>
    </tr>
    <!-- THEME 7 - PA #2 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/v2/assessments/themes/5/practice-areas/5-1?test=a" class="govuk-link">
                7.2 - Reporting and utilising commercial intelligence and insights
            </a>
        </td>
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">42%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>
    <!-- THEME 7 - PA #3 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="color: #313231;">

            7.3 - Data systems and performance management, GS1 and patient level costing (NHS Only)

        </td>
        <td class="govuk-table__cell">N/A</td>
        <td class="govuk-table__cell">N/A</td>
        <td class="govuk-table__cell">N/A</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag"
                    style="background-color: #eaeaea; color: #000;">
                N/A
            </strong>
        </td>
    </tr>
    <!-- THEME 7 - TOTALS -->
    <tr class="govuk-table__row" style="background-color: #fafafa;">
        <th class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">TOTALS:</th>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">25</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">15</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">36%</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>

    </tbody>
</table>