<!-- START: THEME 4 -->
<table class="govuk-table govuk-!-font-size-16">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-5">
        4. Commercial Lifecycle Procure: procurement and contracting
    </caption>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="50%">Practice Area</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria completed</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Percentage complete (%)</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Status</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

    <!-- THEME 4 - PA #1 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/v2/assessments/themes/5/practice-areas/5-1?test=a" class="govuk-link">
                4.1 - Applying effective contract terms
            </a>
        </td>
        <td class="govuk-table__cell">10</td>
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">100%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue"
                    style="background-color: #005a30;color: #fff;">
                COMPLETED
            </strong>
        </td>
    </tr>
    <!-- THEME 4 - PA #2 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/v2/assessments/themes/5/practice-areas/5-1?test=a" class="govuk-link">
                4.2 - Procurement/commercial activity, bid evaluation and supplier selection
            </a>
        </td>
        <td class="govuk-table__cell">10</td>
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">42%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>
    <!-- THEME 4 - PA #3 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/v2/assessments/themes/5/practice-areas/5-1?test=a" class="govuk-link">
                4.3 - Appropriate risk allocation between parties
            </a>
        </td>
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag"
                    style="background-color: #d4351c; color: #fff;">
                NOT STARTED
            </strong>
        </td>
    </tr>
    <!-- THEME 1 - TOTALS -->
    <tr class="govuk-table__row" style="background-color: #fafafa;">
        <th class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">TOTALS:</th>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">26</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">15</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">36%</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>

    </tbody>
</table>