<!-- START: THEME 8 -->
<table class="govuk-table govuk-!-font-size-16">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-5">
        8. Policy
    </caption>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="50%">Practice Area</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="10%">Criteria completed</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Percentage complete (%)</th>
        <th scope="col" class="govuk-table__header s4_table_header--blk-btm" width="15%">Status</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

    <!-- THEME 8 - PA #1 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="#" class="govuk-link">
                8.1 - Policy awareness and implementation
            </a>
        </td>
        <td class="govuk-table__cell">10</td>
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">100%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue"
                    style="background-color: #005a30;color: #fff;">
                COMPLETED
            </strong>
        </td>
    </tr>
    <!-- THEME 8 - PA #2 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="#" class="govuk-link">
                8.2 - Social Value
            </a>
        </td>
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell">3</td>
        <td class="govuk-table__cell">42%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>
    <!-- THEME 8 - PA #3 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="#" class="govuk-link">
                8.3 - Small medium enterprises (SMEs)
            </a>
        </td>
        <td class="govuk-table__cell">7</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag"
                    style="background-color: #d4351c; color: #fff;">
                NOT STARTED
            </strong>
        </td>
    </tr>
    <!-- THEME 8 - PA #4 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="#" class="govuk-link">
                8.4 - Sustainability and Net Zero
            </a>
        </td>
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0%</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag app-task-list__tag"
                    style="background-color: #d4351c; color: #fff;">
                NOT STARTED
            </strong>
        </td>
    </tr>
    <!-- THEME 8 - TOTALS -->
    <tr class="govuk-table__row" style="background-color: #fafafa;">
        <th class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">TOTALS:</th>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">35</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">15</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">36%</td>
        <td class="govuk-table__cell" style="border-bottom: none;font-weight: 600;">
            <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                IN PROGRESS
            </strong>
        </td>
    </tr>

    </tbody>
</table>