<div class="govuk-grid-row">



        <div class="govuk-grid-column-one-half">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                const ctx = document.getElementById('myChart');

                console.info("here element", ctx);
                const myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: [
                            'Theme 1 - Commercial Strategy, Planning and Governance',
                            'Theme 2 - Commercial capability and resourcing',
                            'Theme 3 - Commercial lifecycle define: pre-procurement',
                            'Theme 4 - Commercial lifecycle procure: procurement and contracting',
                            'Theme 5 - Commercial lifecycle manage: contract management',
                            'Theme 6 - Managing Categories, Markets and Supplier Relations',
                            'Theme 7 - Commercial systems, reporting and information ',
                            'Theme 8 - Policy'
                        ],
                        datasets: [{
                            label: '# of Votes',
                            data: [1,2,3,3,2,2.5,1.5,0.5],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 3
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>



        </div>

    <div class="govuk-grid-column-one-half">

            <h1 class="govuk-heading-xl">Radar / spider chart</h1>
        </div>



    <div class="govuk-grid-column-full govuk-!-margin-top-5 govuk-!-margin-bottom-5">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>



    <div class="govuk-grid-column-one-half">

            <h1 class="govuk-heading-xl">Bar chart</h1>
        </div>

    <div class="govuk-grid-column-one-half">



        <canvas id="myChart2" width="500" height="400"></canvas>
        <script>
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: [
                        '5.1 - Contract mobilisation and transition',
                        '5.2 - Managing delivery and performance',
                        '5.3 - Managing contract risk',
                        '5.4 - Supply chain, inventory management / stock control (NHS Only)',
                        '5.5 - Supply chain, logistics (NHS Only)',
                        // 'Orange'
                    ],
                    datasets: [{
                        label: 'Performance %',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(212, 53, 28, 0.4)',
                            'rgba(29, 112, 184, 0.4)',
                            'rgba(213, 56, 128, 0.4)',
                            'rgba(0, 112, 60, 0.4)',
                            'rgba(76, 44, 146, 0.4)',
                            //'rgba(244, 119, 56, 0.4)'
                        ],
                        borderColor: [
                            'rgba(212, 53, 28, 1)',
                            'rgba(29, 112, 184, 1)',
                            'rgba(213, 56, 128, 1)',
                            'rgba(0, 112, 60, 1)',
                            'rgba(76, 44, 146, 1)',
                            //'rgba(244, 119, 56, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontSize: 20
                            }
                        }]
                    },
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                    size: 24
                                }
                            }
                        }
                    }
                }
            });
        </script>
        </div>



</div>


