<div class="">

    <style>

        .gc_bold-text {
            font-weight: 600;
        }

        .gc_red-text {
            color: #d4351c;
        }

        .gc_orange-text {
            color: #f47738;
        }

        .gc_green-text {
            color: #005a30;
        }

        .gc_blue-text {
            color: #1d70b8;
        }


    </style>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Assessment ID: DFE-23456</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Theme</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Percentage complete (%)</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Action</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1. Commercial Lifecycle Procure: procurement and contracting</th>
            <td class="govuk-table__cell">75%</td>
            <td class="govuk-table__cell gc_bold-text gc_blue-text">IN PROGRESS</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2. Commercial Capability and Resourcing</th>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">3. Commercial Lifecycle Define: pre-procurement</th>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">4. Commercial Lifecycle Procure: procurement and contracting</th>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">5. Commercial Lifecycle Manage: contract management</th>
            <td class="govuk-table__cell">50%</td>
            <td class="govuk-table__cell gc_bold-text gc_blue-text">IN PROGRESS</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">6. Managing Categories, Markets and Supplier Relations</th>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">7. Commercial systems, reporting and information</th>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
            <td class="govuk-table__cell"><a href="#" class="link">submit</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">8. Policy</th>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
            <td class="govuk-table__cell"><a href="#" class="link">edit</a></td>
        </tr>
        </tbody>
    </table>


</div>