<div class="">

    <style>

        .gc_bold-text {
            font-weight: 600;
        }

        .gc_red-text {
            color: #d4351c;
        }

        .gc_orange-text {
            color: #f47738;
        }

        .gc_green-text {
            color: #005a30;
        }

        .gc_blue-text {
            color: #1d70b8;
        }


    </style>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">My assessments</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Theme</th>
            <th scope="col" class="govuk-table__header">Sub tasks</th>
            <th scope="col" class="govuk-table__header">Percentage complete (%)</th>
            <th scope="col" class="govuk-table__header">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <!-- START: THEME 1  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">1. Commercial Lifecycle Procure: procurement and contracting</a></td>
            <td class="govuk-table__cell">42</td>
            <td class="govuk-table__cell">75%</td>
            <td class="govuk-table__cell gc_bold-text gc_blue-text">IN PROGRESS</td>
        </tr>
        <!-- START: THEME 2  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">2. Commercial Capability and Resourcing</a></td>
            <td class="govuk-table__cell">24</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
        </tr>
        <!-- START: THEME 3  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">3. Commercial Lifecycle Define: pre-procurement</a></td>
            <td class="govuk-table__cell">28</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
        </tr>
        <!-- START: THEME 4  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">4. Commercial Lifecycle Procure: procurement and contracting</a></td>
            <td class="govuk-table__cell">26</td>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
        </tr>
        <!-- START: THEME 5  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">5. Commercial Lifecycle Manage: contract management</a></td>
            <td class="govuk-table__cell">56</td>
            <td class="govuk-table__cell">50%</td>
            <td class="govuk-table__cell gc_bold-text gc_blue-text">IN PROGRESS</td>
        </tr>
        <!-- START: THEME 6  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">6. Managing Categories, Markets and Supplier Relations</a></td>
            <td class="govuk-table__cell">18</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell gc_bold-text gc_red-text">NOT STARTED</td>
        </tr>
        <!-- START: THEME 7  -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">7. Commercial systems, reporting and information</a></td>
            <td class="govuk-table__cell">32</td>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
        </tr>
        <!-- START: THEME 8 -->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">8. Policy</a></td>
            <td class="govuk-table__cell">35</td>
            <td class="govuk-table__cell">100%</td>
            <td class="govuk-table__cell gc_bold-text gc_green-text">COMPLETED</td>
        </tr>
        </tbody>
    </table>


</div>