<!-- styles moved to sass -->

<div class="govuk-grid-row govuk-!-margin-top-3">

    {% include '../nav/left-nav-assessment.njk' %}

    <!-- START: RHS CONTENT @80% -->
    <div class="govuk-!-margin-bottom-9 govuk-grid-column-three-quarters" style="width: 80%;">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Assessment overview</h1>
            </div>
        </div>


        <div class="govuk-grid-row">

            <div class="govuk-grid-column-three-quarters">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="event-name">
                            Enter your internal reference identifier:
                        </label>
                    </h1>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with internal reference
    </span>
                        </summary>
                        <div class="govuk-details__text">
                            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
                        </div>
                    </details>
                    <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>
            </div>

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">System reference:
                    <span class="govuk-!-font-weight-regular">ABC-12345</span></h2>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
        </div>



        <div class="govuk-grid-row govuk-!-margin-top-3">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">
                    Where you are in the process
                </h2>

                <div class="hmcts-progress-bar govuk-!-margin-top-7">
                    <ol class="hmcts-progress-bar__list">

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                            <span class="hmcts-progress-bar__label">Process opens</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item" aria-current="step">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">Completed</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">Internal checks</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">In peer review</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">Submitted to Cabinet Office</span>
                        </li>

                    </ol>
                </div>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
        </div>


        <div class="govuk-grid-row govuk-!-margin-top-3">
            <div class="" style="padding: 0 15px;">
                <table class="govuk-table govuk-!-font-size-16">
                    <caption class="govuk-table__caption govuk-table__caption--m">Theme status and activity</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="45%">Theme name</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header">Assigned to:</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header">Criteria</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="14%">Percentage complete (%)</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="14%">Status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    {% for item in urlObj.themeData %}
                        <!-- START: THEME LOOP  -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <strong>{{ item.theme_id|safe }}.</strong>
                                <a href="/v2/assessments/themes/5?test=a" class="govuk-link">{{ item.theme_name|safe }}</a></td>
                            <td class="govuk-table__cell
                            {% if item.assigned_to == "NOT YET ASSIGNED" %}govuk-!-font-weight-bold{% endif %}">
                                {{ item.assigned_to|safe }}</td>
                            <td class="govuk-table__cell">{{ item.sub_tasks|safe }}</td>
                            <td class="govuk-table__cell">{{ item.pc_complete|safe }}%</td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag app-task-list__tag
                            {% if item.status == 'IN PROGRESS' %}
                            govuk-tag--blue
                            {% elif item.status == 'NOT STARTED' %} govuk-tag--grey
                            {% endif %}" id="eligibility-status">{{ item.status|safe }}</strong>
                            </td>
                            {#<td class="govuk-table__cell gc_bold-text gc_blue-text">{{ item.status|safe }}</td>#}
                        </tr>
                    {% endfor %}
                    <!-- END: THEME LOOP  -->

                    </tbody>
                </table>
            </div>

            <div class="govuk-grid-column-one-half govuk-!-margin-top-7">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Assessment status
                            </h1>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    Mark as complete
                                </label>
                            </div>

                        </div>

                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Submit for peer review
                </button>

            </div>


        </div>


    </div>
    <!-- END: RHS CONTENT @80% -->


    <!-- START:    --->

</div>
