<div class="govuk-grid-row">


    {% include '../nav/left-nav-assessment-theme-5.njk' %}


    <!-- START: RHS CONTENT @80% -->
    <div class="govuk-!-margin-bottom-9 govuk-grid-column-three-quarters" style="width: 80%;">



        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Theme 5</h1>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-7">
            Assessment ID: HOME-2345677
        </h2>


        {#<span class="govuk-heading-m app-task-list__section-number govuk-!-margin-bottom-7">5.  Commercial Lifecycle Manage: contract management</span>#}

        {#{% include './summary-blocks/summary-block-5.njk' %}#}

        {#<button class="govuk-button" data-module="govuk-button">#}
            {#Save and continue#}
        {#</button>#}



        {% include './theme-tables/theme-details-5.njk' %}



    </div>
    <!-- END: RHS CONTENT @80% -->


    <!-- START:    --->

</div>
