<!-- styles moved to sass -->

<div class="govuk-grid-row govuk-!-margin-top-3">

    {% include '../nav/left-nav-assessment.njk' %}

    <!-- START: RHS CONTENT @80% -->
    <div class="govuk-!-margin-bottom-9 govuk-grid-column-three-quarters" style="width: 80%;">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Assessment overview</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    The Commercial Continuous Improvement Assessment Framework (CCIAF) tool can be used by any public sector organisation which wants to benchmark its commercial maturity against other public sector organisations.
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8;line-height: 30px;padding: 10px 0 0 0;">Related content</h2>

                <ul class="govuk-list">
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">How to use the Framework Scoring tool</a>
                    </li>
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">Explanation of the Scoring Model</a>
                    </li>
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">How a Peer Assessment works</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-3">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">
                    Where you are in the process
                </h2>

                <div class="hmcts-progress-bar govuk-!-margin-top-7">
                    <ol class="hmcts-progress-bar__list">

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
                            <span class="hmcts-progress-bar__label">You apply</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item" aria-current="step">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">Your husband/wife responds</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">The court decides</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">The court decides</span>
                        </li>

                        <li class="hmcts-progress-bar__list-item">
                            <span class="hmcts-progress-bar__icon"></span>
                            <span class="hmcts-progress-bar__label">Submitted to Cabinet Office</span>
                        </li>

                    </ol>
                </div>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
        </div>


        <div class="govuk-grid-row govuk-!-margin-top-3">
            <div class="" style="padding: 0 15px;">
                <table class="govuk-table govuk-!-font-size-16">
                    <caption class="govuk-table__caption govuk-table__caption--m">Theme status and activity</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="45%">Theme name</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header">Assigned to:</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header">Criteria</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="14%">Percentage complete (%)</th>
                        <th style="border-bottom-color: #000;" scope="col" class="govuk-table__header" width="14%">Status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    {% for item in urlObj.themeData %}
                        <!-- START: THEME LOOP  -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <strong>{{ item.theme_id|safe }}.</strong>
                                <a href="#" class="govuk-link">{{ item.theme_name|safe }}</a></td>
                            <td class="govuk-table__cell
                            {% if item.assigned_to == "NOT YET ASSIGNED" %}govuk-!-font-weight-bold{% endif %}">
                                {{ item.assigned_to|safe }}</td>
                            <td class="govuk-table__cell">{{ item.sub_tasks|safe }}</td>
                            <td class="govuk-table__cell">{{ item.pc_complete|safe }}%</td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag app-task-list__tag
                            {% if item.status == 'IN PROGRESS' %}
                            govuk-tag--blue
                            {% elif item.status == 'NOT STARTED' %} govuk-tag--grey
                            {% endif %}" id="eligibility-status">{{ item.status|safe }}</strong>
                            </td>
                            {#<td class="govuk-table__cell gc_bold-text gc_blue-text">{{ item.status|safe }}</td>#}
                        </tr>
                    {% endfor %}
                    <!-- END: THEME LOOP  -->

                    </tbody>
                </table>
            </div>


        </div>


    </div>
    <!-- END: RHS CONTENT @80% -->


    <!-- START:    --->

</div>
