
<div class="govuk-grid-row govuk-!-margin-top-3">

    {% include '../nav/left-nav-assessment.njk' %}


    <!-- START: RHS CONTENT @80% -->
    <div class="govuk-!-margin-bottom-9 govuk-grid-column-three-quarters" style="width: 80%;">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Cover sheet</h1>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    The Commercial Continuous Improvement Assessment Framework (CCIAF) tool can be used by any public sector organisation which wants to benchmark its commercial maturity against other public sector organisations.
                </p>
            </div>



            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8;line-height: 30px;padding: 10px 0 0 0;">Related content</h2>

                <ul class="govuk-list">
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">How to use the Cover Sheet</a>
                    </li>
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">Explanation of organisations</a>
                    </li>
                    <li class="">
                        <a href="#" class="govuk-link govuk-!-font-size-16">How a Peer Assessment works</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row">


            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">
                    About the organisation
                </h2>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Organisation type:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Arm's Length Body
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Parent Department:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Ministry of Housing, communities and Local Government
                </span>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                    Commercial Spend Under Assessment
                </h2>
                <span class="govuk-hint">Third party spend covered by this assessment<br />
                    Total non-pay addressable spend (For NHS)</span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    £32,500,800,222
                </span>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">
                    Assessment Owner and Approvals
                </h2>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Assessment owner name:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Christopheles Witherington-Samuelson
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Assessment owner name:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Christopheles.Witherington-Samuelson@non-existent-department.gov.uk
                </span>

                <!-- START: Date -->
                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Date self-assessment completed:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                Not yet completed
                </span>

                <!-- START: Approver -->
                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Name of approver:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Rajashekhara Chinnaswamy
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Position of approver:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Finance Director
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Email address of approver:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    rajashekhara.chinnaswamy@notexist.wales.gov.uk
                </span>

            </div>

            <div class="govuk-grid-column-two-thirds">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>


            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">
                    Peer review
                </h2>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Have any organisations peer reviewed this assessment?:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    No
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Name of peer reviewer organisation:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Department for Levelling Up
                </span>

                <!-- START: Date -->
                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Name of peer reviewer:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                    Simon Calloway-Jones
                </span>

                <span class="govuk-heading-s s4_flex govuk-!-margin-bottom-2">
                    Peer reviewer email address:
                </span>
                <span class="govuk-body govuk-!-margin-bottom-4 s4_flex">
                Simon.Calloway-Jones@department-levelling-up.gov.uk
                </span>



            </div>


            <div class="govuk-grid-column-one-half govuk-!-margin-top-7">

                    <button class="govuk-button" data-module="govuk-button">
                        Edit cover sheet
                    </button>

            </div>




        </div>







    </div>
    <!-- END: RHS CONTENT @80% -->


    <!-- START:    --->

</div>
