<table class="govuk-table govuk-!-margin-top-7">
    <caption class="govuk-table__caption govuk-table__caption--m">Test: Practice Area Summary</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Practice area</th>
        <th scope="col" class="govuk-table__header" width="33%">Is your organisation submitting an assessment for this Practice Area?</th>
        <th scope="col" class="govuk-table__header" width="7%">Rating</th>
        <th scope="col" class="govuk-table__header" width="7%">Score</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <!-- START: 5.1 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="" style="font-weight: 600;margin-right: 8px;">5.1</span> Contract mobilisation and transition</td>
        <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contract_yes" name="practice_area_5_1" type="radio" value="contract">
                    <label class="govuk-label govuk-radios__label" for="contract_yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contract_no" name="practice_area_5_1" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="contract_no">
                        No
                    </label>
                </div>
            </div>
        </td>
        <td class="govuk-table__cell" style="font-weight: 600; color: #005a30;">BEST</td>
        <td class="govuk-table__cell">88%</td>
    </tr>
    <!-- END: 5.1 -->

    <!-- START: 5.2 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="" style="font-weight: 600;margin-right: 8px;">5.2</span> Managing delivery and performance</td>
        <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="practice_area_5_2" type="radio" value="month">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="practice_area_5_2" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        No
                    </label>
                </div>
            </div>
        </td>
        <td class="govuk-table__cell" style="font-weight: 600;">GOOD</td>
        <td class="govuk-table__cell">0%</td>
    </tr>
    <!-- END: 5.2 -->

    <!-- START: 5.3 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="" style="font-weight: 600;margin-right: 8px;">5.3</span> Managing contract risk</td>
        <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="practice_area_5_3" type="radio" value="month">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="practice_area_5_3" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        No
                    </label>
                </div>
            </div>
        </td>
        <td class="govuk-table__cell" style="font-weight: 600;color: #1d70b8;">BETTER</td>
        <td class="govuk-table__cell">88%</td>
    </tr>
    <!-- END: 5.3 -->

    <!-- START: 5.4 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="" style="font-weight: 600;margin-right: 8px;">5.4</span> Data systems and performance management, GS1 and patient level costing (NHS Only)</td>
        <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="practice_area_5_4" type="radio" value="month">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="practice_area_5_4" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        No
                    </label>
                </div>
            </div>
        </td>
        <td class="govuk-table__cell" style="font-weight: 600;color: #d4351c;">TO DO</td>
        <td class="govuk-table__cell">0%</td>
    </tr>
    <!-- END: 5.4 -->

    <!-- START: 5.5 -->
    <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="" style="font-weight: 600;margin-right: 8px;">5.5</span> Supply chain, logistics (NHS Only)</td>
        <td class="govuk-table__cell">
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="practice_area_5_5" type="radio" value="month">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="practice_area_5_5" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        No
                    </label>
                </div>
            </div>
        </td>
        <td class="govuk-table__cell" style="font-weight: 600;">- - - - -</td>
        <td class="govuk-table__cell">0%</td>
    </tr>
    <!-- END: 5.5 -->
    </tbody>
</table>