<div class="govuk-form-group govuk-!-margin-bottom-1">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="changed-name">
                    Fully meeting
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="changed-name-2">
                    Partially meeting
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="changed-name-2">
                    Not or seldom meeting
                </label>
            </div>
        </div>

    </fieldset>
</div>