{{ govukHeader(
    {
        homepageUrl: "/ghjgjh",
        serviceName: serviceName,
        serviceUrl: "#",
        containerClasses: "govuk-width-container",
        navigation: [
        { href: "#1", text: "Home", active: false },
        { href: "#2", text: "My assessments", active: false },
        { href: "#3", text: "Another", active: false },
        { href: "#4", text: "Help and support", active: false },
        { href: "#5", text: "Sign in / create an account", active: false }
    ]
    }
) }}