<li class="s4_nav-test s4_nav-link-test--active" style="display: flex;flex-direction: column;margin-right: 0;">
    <a class="s4_active-test" href="#" style="/* clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%); */color: #000 !important;background-color: #fff;border-bottom: 4px solid #cbcbcb;border-left: none;">Themes</a>
    <ul class="govuk-list"
        style="
                font-size: 16px;
                /* margin-top: 10px; */
                box-sizing: border-box;
                /* background-color: yellow; */
                background-color: #fafafa;
                margin-right: -330px;
                z-index: 200;
                box-shadow: 100px 0 0 rgb(255 255 255),100px 100px 0 rgb(255 255 255), 0 100px 0 rgb(255 255 255);">
        {#
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
/* padding-left: 14px; *//* background-color: #f3f3f3; */margin-right: -12px;">
            <a href="" class="" style="/*text-decoration: none; font-weight: 600;color: #000;clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);display: flex;background-color: #e3edff;*/flex: 1;padding-left: 14px;">Theme 1</a></li>
            #}
        <li class=""
            style="
                    margin-bottom: 0;
                    border-left: 5px solid #cbcbcb;
                    line-height: 36px;
                    display: flex;
                    padding-left: 14px;">

            <a href="" class=""
               style="
                    display: flex;
                    background-color: #ffdd00;
                    flex: 1;
                    margin-left: -14px;
                    padding-left: 14px;
                    text-decoration: none;
                    color: #000;
                    ">Theme 1: Commercial Lifecycle Procure: procurement and contracting</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 2</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 2: Commercial Capability and Resourcing</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 3: Commercial Lifecycle Define: pre-procurement</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 4: Commercial Lifecycle Procure: procurement and contracting</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 5: Commercial Lifecycle Manage: contract management</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 6: Managing Categories, Markets and Supplier Relations</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 7: Commercial systems, reporting and information</a>
        </li>
        <li style="margin-bottom: 0;border-left: 5px solid #cbcbcb;line-height: 36px; display: flex;
padding-left: 14px;">
            <a href="" class="">Theme 8: Policy</a>
        </li>
    </ul>
</li>