{% extends "layout.html" %}

{% block pageTitle %}
    {{ urlObj.title|safe }} &raquo; Government Commercial
{% endblock %}



{% block bodyStart %}


    {#{% include './partials/cookies-banner.njk' %}#}


    {{ govukSkipLink({
        href: '#gap_home-skip-to',
        text: 'Skip to main content'
    }) }}

{% endblock %}

    {#{% block skipLink %}#}
        {##}
    {#{% endblock %}#}

{% block header %}
    {#{% include "../includes/gap/header-nav.njk" %}#}

    {#{% include './partials/basic-header.njk' %}#}

    {% include './partials/new-header.njk' %}


    <div class="app-width-container">
        <div class="govuk-width-container" style="border-top: 6px solid #dadada;">
            {% include "./partials/phase-banner.njk" %}
        </div>
    </div>

{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: urlObj.breadCrumbs
    }) }}



    {% include './partials/logo-banner.njk' %}

    {% if urlObj.backLink.show %}
        {{ govukBackLink({
            text: 'Back ' + urlObj.backLink.extraText,
            href: urlObj.backLink.url
        }) }}
    {% endif %}



    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% endblock %}

{% block content %}

    {# OLD BACK LINK
    {% if urlObj.backLink.show %}
        {{ govukBackLink({
            text: urlObj.backLinkText,
            href: "/v2/grants/schemes/landing-detail"
        }) }}
    {% endif %}
    #}


    {% if urlObj.url === 'chart-test' %}
        {% include "./main/data-test.njk" %}

        {% elif urlObj.url === 'todo-test' %}
        {% include "./main/todo-test.njk" %}

        {% elif urlObj.url === 'todo-table-test' %}
        {% include "./main/todo-table-test.njk" %}

        {% elif urlObj.url === 'todo-table-links-test' %}
        {% include "./main/todo-table-links-test.njk" %}

        {% elif urlObj.url === 'submitting-assessment-radios-test' %}
        {% include "./main/submitting-assessment-radio-test.njk" %}


        <!-- START: Assessments -->
        {% elif urlObj.url === 'assessments-overview' %}
        {% include "./main/assessments-overview.njk" %}

        {% elif urlObj.url === 'my-assessments' %}
        {% include "./main/assessments-my.njk" %}

        {% elif urlObj.url === 'assessment-detail-radio' %}
        {% include "main/assessment-detail-radio__OLD_WiP.njk" %}

        {% elif urlObj.url === 'assessments-overview' %}
        {% include "./main/assessments-overview.njk" %}

        {% elif urlObj.url === 'new-assessment' %}
        {% include "./main/assessment-new.njk" %}

        {% elif urlObj.url === 'assessment-detail-linked-info' %}
        {% include "./main/assessment-detail-linked-info.njk" %}

        {% elif urlObj.url === 'assessment-detail-linked-themes' %}
        {% include "./main/assessment-detail-linked-themes.njk" %}




        {# Practice areas #}
        {% elif urlObj.url === 'practice-area-detail-radio' %}
        {% include "./main/practice-area-detail-radio.njk" %}

        {% elif urlObj.url === 'practice-area-detail-radio-ambition' %}
        {% include "./main/practice-area-detail-radio-ambition.njk" %}

        {% elif urlObj.url === 'practice-area-detail-radio-themes' %}
        {% include "./main/practice-area-detail-radio-themes.njk" %}




    {% endif %}


{% endblock %}