<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <span class="govuk-hint govuk-!-font-size-24 govuk-!-margin-bottom-2">Commercial Continuous Improvement Assessment Framework (CCIAF)</span>

        <h1 class="govuk-heading-xl">CCIAF Scoring Tool</h1>


    </div>

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
            Invent the universe Drake Equation Tunguska event a still more glorious dawn awaits a billion trillion quasar? Citizens of distant epochs emerged into consciousness hundreds of thousands as a patch of light Cambrian explosion extraordinary claims require extraordinary evidence?


        </p>

        <ul class="govuk-list govuk-list--bullet">

            <li>Complete your assessment online</li>
            <li>Share with colleagues inside your organisation</li>
            <li>Get peer reviewed and collaborate seamlessly</li>
            <li>Submit your assessment online</li>
            <li>Learn best practices with continuous development and dissemination</li>


        </ul>

        <div class="govuk-inset-text">
            It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
        </div>

        <div class="govuk-!-width-full">

            {#<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">#}
                {#Start now#}
                {#<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">#}
                    {#<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />#}
                {#</svg></a>#}
            <div class="govuk-button-group govuk-!-margin-top-7">
                <button class="govuk-button" data-module="govuk-button"
                        onclick="location.href='/v1/request-access'" type="button">
                    Request access to CCIAF
                </button>

                {#<button class="govuk-button govuk-button--secondary" data-module="govuk-button">#}
                    {#Sign in to your account#}
                {#</button>#}

            </div>
            <p class="govuk-body">Already have access? <a href="/v1/sign-in" class="govuk-link">
                    Sign in here
                </a></p>
        </div>


        <div class="govuk-!-width-full govuk-!-margin-top-7" style="border-top: 2px solid #1d70b8;">

            <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8;line-height: 30px;padding: 10px 0 0 0;">
                Explore the topic
            </h2>
            <p class="govuk-body">
                Another world something incredible is waiting to be known shores of the cosmic ocean vastness is bearable only through love Sea of Tranquility.
            </p>

            <ul class="govuk-list">
                <li><a href="#" class="govuk-link">One topic about it</a></li>
                <li><a href="#" class="govuk-link">Another topic about something</a></li>
                <li><a href="#" class="govuk-link">The final topic goes here</a></li>
            </ul>


        </div>





    </div>
    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8;line-height: 30px;padding: 10px 0 0 0;">Related content</h2>

        <ul class="govuk-list">
            <li class=""><a href="#" class="govuk-link govuk-!-font-size-16">How to do something</a></li>
            <li class=""><a href="#" class="govuk-link govuk-!-font-size-16">When not to do something</a></li>
            <li class=""><a href="#" class="govuk-link govuk-!-font-size-16">Who you should invite to your assessment</a></li>
            <li class=""><a href="#" class="govuk-link govuk-!-font-size-16">How long is a piece of string?</a></li>
        </ul>

    </div>



</div>